:root {
    --rl-header: #2E4053;
    --rl-text: #383838;
    --rl-components: #443737;
    --rl-bg: #D5D8DC;
    --rl-container: #AAB7B8;
    --rl-behaviour: #6E6658;
    }

    .lang {
        color: var(--rl-container);
        font-size: .6rem;
        padding-top: 4px;
    }
    .arsenal img {
        padding: 3px;
        transition: 1s ease;
        border-radius: 50%;
    }
    .arsenal img:hover {
        background: var(--rl-container);
        cursor: pointer;
        border-radius: 50%;
        transition: .5s ease-in;
    }

    @media only screen and (min-width: 767px) and (max-width: 1023px)
    {
        .arsenal h6 {
            text-align: center;
        }
        .arsenal img {
            width: 35px;
        }
        .lang {
            font-size: .7rem;
        }
    }

    @media only screen and (min-width: 1024px)
    {
        .arsenal h6 {
            text-align: center;
        }
        .arsenal img {
            width: 40px;
            margin: .5rem 0;
        }
        .lang {
            font-size: .8rem;
        }
    }