:root {
    --rl-header: #2E4053;
    --rl-text: #383838;
    --rl-components: #443737;
    --rl-bg: #D5D8DC;
    --rl-container: #AAB7B8;
    --rl-behaviour: #6E6658;
}

.nav-offcanvas i {
    color: var(--rl-components);
    font-weight: 600;
    background: var(--rl-behaviour);
    cursor: pointer;
}
.nav-offcanvas i:hover {
    transform: translate(5px, 0);
    color: var(--rl-bg);
    transition: .5s ease;
}

.offcanvas-header {
    background: var(--rl-behaviour);
}
.offcanvas-body {
    background: var(--rl-behaviour);
}
.offcanvas-body .row {
    background: var(--rl-behaviour);
}
.offcanvas-body .col-md-12 {
    background: var(--rl-behaviour);
    transition: .5s ease-out;
} 
.offcanvas-body .col-md-12:hover {
    background: var(--rl-components);
    transition: .5s ease-in;
}
.offcanvas-body .col-md-12:active {
    background: var(--rl-text);
    transition: .5s ease-in;
}

.offcanvas-body .row a {
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: .9rem;
}