:root {
    --rl-header: #2E4053;
    --rl-text: #383838;
    --rl-components: #443737;
    --rl-bg: #D5D8DC;
    --rl-container: #AAB7B8;
    --rl-behaviour: #6E6658;
    }

    .profile img {
        background: var(--rl-components);
    }
    .profile h1 {
        font-size: 2.3rem;
        font-weight: 600;
        color: var(--rl-components);
    }
    .profile h6 {
        color: var(--rl-behaviour);
        font-size: .8rem;
    }
    .profile p {
        color: var(--rl-text);
        font-size: .7rem;
    }

    @media only screen and (min-width: 767px) and (max-width: 1023px)
    {
        .profile img {
            width: 140px;
        }
        .profile h1 {
            font-size: 2.5rem;
        }
        .profile p {
            font-size: .9rem;
            margin: 1rem 0;
        }
    }
    @media only screen and (min-width: 1024px)
    {
        .profile img {
            width: 150px;
        }
        .profile h1 {
            font-size: 3rem;
        }
        .profile p {
            font-size: 1rem;
            margin: 1.5rem 0;
        }
    }