:root {
    --rl-header: #2E4053;
    --rl-text: #383838;
    --rl-components: #443737;
    --rl-bg: #f3f3f3;
    --rl-container: #AAB7B8;
    --rl-behaviour: #6E6658;
    }

    nav {
        background: #ffffff;
    }

    nav h6 {
        font-weight: 700;
        cursor: pointer;
    }
    .offcanvas {
        background: var(--rl-behaviour);
    }